@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
  .bg-primary {
    background-color: #b49149;
  }
  .bg-hover {
    background-color: #aa8b4c;
  }
  .text-primary {
    color: #b49149;
  }
  .border-primary {
    border-color: #b49149;
  }
  .slide-img.active {
    @apply border-primary;
  }
  .custom-after {
    content: "";
    position: absolute;
    right: -30px;
    top: 0;
    border-top: 32px solid transparent;
    border-right: 32px solid transparent;
    border-bottom: 32px solid transparent;
    border-left: 32px solid #b49149;
  }
}
