@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
  .bg-primary {
    background-color: #b49149;
  }
  .text-primary {
    color: #b49149;
  }
  .border-primary {
    border-color: #b49149;
  }
  .app__container {
    @apply w-[1200px] container mx-auto;
  }
  .slide-img.active {
    @apply border-primary;
  }
}
